.copyright{
    text-align:center; 
}
footer {
    position:absolute;
    left:auto;
    bottom:auto; 
    width: 97%; 
    background-color: rgb(39, 35, 35);
    color: white;
    margin-top: 0;
    padding: 2em; 
    font-family: 'parkavenue', cursive;
}
a:link {
    color:green; 
    font-size: 14pt;
}
a:visited{
    color:green;
}    
a:hover {
    color:purple;
}
a:active {
    color: blue;
}
.feature-text{
    position: absolute;
    top: 25%;
    left: 25%;
    color: beige; 
    font-size: 50px;
    text-shadow: 1px 1px 1px black; 
}
.column{
    column-count:2;
    display:block;
}
.imgrecipe{
    text-align:center;
    display: block;
}
#bannerAd{
    background: #F8F8F8;
    line-height: 80px;
    text-align: center;
    margin-top: -19px;
    height: 200px;
    display: none; 
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 10;
  }
  
.closeAd { 
    position: absolute;
    top: -20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
}
.adimg{
    width: 50%;
    height: 200px;
    text-align: center;
}
td{
    text-align:center; 
    padding: 10px; 
}
th{
    font-weight: bold;
    font-size: large;
    padding: 10px;
    text-align:center; 
}
.logoadvertising{
    text-align:left;
}
.top{
    text-align:right;
    float:right;
    margin:20px; 
}
.tmenu li{
    display:inline; 
}
.tsite{
    color: black;  
    padding: 2px; 
    text-decoration: none; 
}
h2{
    font-family: 'parkavenue', cursive;
    color: rgb(224, 210, 148);
}
p{
    font-family: 'parkavenue', cursive;
}
.driver{
    padding: 40px; 
}

