.copyright{
    text-align:center; 
}
footer {
    position:absolute;
    left:auto;
    bottom:auto; 
    width: 97%;
    background-color: rgb(39, 35, 35);
    color: white;
    margin-top: 0;
    padding: 10px 0; 
    font-family: 'parkavenue', cursive;
}
.fill-in{
    border-radius: 15px;
    background-color: lightgrey; 
    margin-left: 50px;
    padding: 20px;
    width: 200px;
    height: 15px; 
}
td{
    text-align:center; 
    padding: 10px; 
}
th{
    font-weight: bold;
    font-size: large;
    padding: 10px;
    text-align:center; 
}
.heading{
    text-align:center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(224, 210, 148);
    font-family: 'Florence', cursive;
    letter-spacing: 8px; 
}
h3{
    font-family: 'parkavenue', cursive;
}
.row:after{
    content:"";
    display: table; 
    clear:both;  
    background: gray;
}
.column {
        text-align: center; 
        font-family:'Florence', cursive;
        float: left; 
        width:25%;
        margin: 10px;     
        padding: 6px; 
        height: 200px; 
        border: 10px solid gray;      
    }
.footer {
       position:auto;
       left:auto;
       bottom:auto;
       width: 100%;
    } 
 a:link {
       color: green;
       font-size: 14pt;
   }
 a:visited{
     color:green;
 }    
a:hover {
       color:purple;
   }
a:active {
       color: blue;
   } 
.underline{
    height: 4px;
    background-color: gray;
    margin: 0 20px; 
}
.logoadvertising{
    text-align:left;
}
.top{
    text-align:right;
    float:right;
    margin:20px; 
}
.tmenu li{
    display:inline;
}
.tsite{ 
    padding: 2px; 
    text-decoration: none; 
}
